@using Abp.Authorization.Users
<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

    <h3 id="myModalLabel2">修改密码</h3>

</div>

<div class="modal-body">
        <form action="#" class="form-horizontal" id="UpdatePasswordForm">

            <div class="control-group">

                <label class="control-label">原密码</label>

                <div class="controls">

                    <input type="password" placeholder="原密码" class="m-wrap large"  required maxlength="@AbpUserBase.MaxPasswordLength" name="Password" />

                </div>

            </div>


            <div class="control-group">

                <label class="control-label">新密码</label>

                <div class="controls">

                    <input type="password" placeholder="新密码" id="NewPassword" class="m-wrap large" required maxlength="@AbpUserBase.MaxPasswordLength" name="NewPassword" />

                </div>

            </div>

            <div class="control-group">

                <label class="control-label">重复密码</label>

                <div class="controls">

                    <input type="password" placeholder="重复密码" class="m-wrap large" required maxlength="@AbpUserBase.MaxPasswordLength" name="RePassword" />

                </div>

            </div>

        </form>
</div>


<div class="modal-footer">

    <button class="btn green" id="ComfirmUpdatePassword">确认修改</button>

</div>
